<div class="row">
  <div class="col-md-3 center-block no-float">

	<h1><span class="glyphicon glyphicon-pencil"></span> Nueva Evidencia</h1>

	<%= render 'form', evidence: @evidence %>

	<%= link_to 'Volver', evidences_path %>

  </div>
</div>