<div class="row">
	<h1>Editando Universidad</h1>
	<div class="row col-md-3">
		<%= render 'form', universidad: @universidad %>
	</div>
</div>


<%= link_to 'Ver', @universidad %> |
<%= link_to 'Volver', universidads_path %>
