<div class="row">
  <div class="col-md-3 center-block no-float">

	<h1>Nueva Universidad</h1>

	<%= render 'form', universidad: @universidad %>

	<%= link_to 'Volver', universidads_path %>

  </div>
</div>