<div class="row">
  <div class="col-md-3 center-block no-float">

	<h1>Nuevo Tipo de Evidencia</h1>

	<%= render 'form', evidencetype: @evidencetype %>

	<%= link_to 'Volver', evidencetypes_path %>

  </div>
</div>